html, body {
  background-color: #FBF9D1 !important;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background-color: #9A5C5C;
  color: white;
  padding: 10px; 
}


.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #ffffff;
  color: #9A5C5C;
}



/* Footer */
footer {
  background-color: #9A5C5C;
  color: white;
  margin-top: auto;
}

footer img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
